.map {
  width: 100%;
  height: 100%;
  user-select: none;
  touch-action: none;
}

.tooltip {
  position: relative;
  overflow: hidden;
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgba(66, 15, 15, 0.7);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  color: #fff;
}

.tooltip-header {
  color: #cc3535;
  font-weight: bold;
}

.tooltip-circle {
  position: absolute;
  top: -5%;
  right: -5%;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.tooltip-value {
  font-weight: bold;
  padding-left: 2rem;
}

table,
tr,
td {
  border: none;
}
