.nav {
  display: flex;
  gap: 1.25rem;
}

.nav.absolute {
  position: absolute;
  bottom: 2.5rem;
}

.nav-btn {
  background-color: unset;
  border: unset;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 100ms ease-in-out;
}

.nav-btn .iconify {
  width: 24px;
  fill: #da8181;
  color: #da8181; /* propagated through current color */
}

.nav-btn.active .iconify {
  fill: #cc3535;
  color: #cc3535;
}
