.slider-container {
  display: flex;
  align-items: center;
  width: 100%;
  /* gap: 15px; */
}

.slider-edge-left {
  margin-right: 15px;
}

.slider-edge-right {
  margin-left: 20px;
  z-index: 1;
}

.slider-body-container {
  flex-grow: 1;
  min-height: 1.5rem;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.slider-body {
  position: relative;
  height: 0.25rem;
  background-color: rgb(144 202 249 / 16%);
  border-radius: 0.25rem;
  transform: translateY(0.6rem);
}

.slider-active {
  height: 0.25rem;
  background-color: #cc3535;
  border-radius: 0.25rem;
  transition: width 100ms ease-in-out;
}

.slider-mark {
  position: absolute;
  top: 0%;
  width: 3px;
  height: 3px;
  transform: translate(-60%, 15%);
  border-radius: 50%;
  background-color: #cc3535;
}

.slider-thumb-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -50%;
  width: 1.5rem;
  height: 1.5rem;
  transform: translate(-50%, -35%);
  transition: left 100ms ease-in-out;
}

.slider-thumb {
  position: relative;
  user-select: none;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #cc3535;
  transition: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    bottom 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  touch-action: none;
}

.slider-thumb::after {
  content: attr(data-current);
  display: block;
  transform: translate(-50%, 100%);
}

.slider-thumb:active {
  box-shadow: rgba(204, 53, 53, 0.2) 0px 0px 0px 14px !important;
}

.slider-thumb-container:hover .slider-thumb {
  box-shadow: rgba(204, 53, 53, 0.2) 0px 0px 0px 8px;
}
